services:
  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    ports:
      - "8080:8080"
    environment:
      - SWAGGER_JSON=/tmp/openapi.yaml
    volumes:
      - ./schema/openapi.yaml:/tmp/openapi.yaml:ro
